version: "3.8"
services:

  get_dogecoin_subscribers:
    build:
      context: ./nodejs
    restart: always

  prometheus:
    image: prom/prometheus:v2.22.1
    volumes: 
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
    restart: always
  
  grafana:
    image: grafana/grafana:7.3.1
    ports:
      - 80:3000
    environment:
      GF_SECURITY_ADMIN_PASSWORD: password